In [113]:
import numpy as np
import pandas as pd

In [114]:
tor = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
tor.head(5)

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [115]:
tor.shape

(180, 3)

In [116]:
#Dropping cells where Borough is 'Not Assigned'
tor.drop(tor[tor['Borough'] =='Not assigned'].index, inplace = True)
tor.shape

(103, 3)

In [117]:
tor.reset_index(drop=True,inplace=True)
tor.head(20)

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Regent Park / Harbourfront
3,M6A,North York,Lawrence Manor / Lawrence Heights
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,Malvern / Rouge
7,M3B,North York,Don Mills
8,M4B,East York,Parkview Hill / Woodbine Gardens
9,M5B,Downtown Toronto,Garden District / Ryerson
10,M6B,North York,Glencairn
11,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...
12,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights
15,M5C,Downtown Toronto,St. James Town
16,M6C,York,Humewood-Cedarvale
17,M9C,Etobicoke,Eringate / Bloordale Gardens / Old Burnhamthor...
18,M1E,Scarborough,Guildwood / Morningside / West Hill
19,M4E,East Toronto,The Beaches

In [118]:
(tor['Postal code'].value_counts()>1).sum() #Postal codes have no repeating values. But multiple neighborhoods having same codes are already grouped in same row.

0

Also we can see that multiple neighborhoods in one borough are already combined with '/'. We shall convert '/' to ',' .

In [119]:
#Converting / to , in Neighborhood column
tor['Neighborhood']=tor['Neighborhood'].str.replace('/',',')
tor.head(5)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [120]:
tor['Neighborhood'].isnull().sum()
#All neighborhood rows are filled. All boroughs are assigned some neighborhood.

0

In [121]:
tor[tor['Neighborhood']=="Not assigned"]
#No neighborhood is in the 'Not assigned' category

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [122]:
#Let us print the shape of the dataframe

tor.shape

(103, 3)

In [123]:
#Loading the csv file containing coordinates of all Postal codes
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_44b9055e0254400bb0f58ff48a6f656d = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='sIFfGLJ2NEnej2CC6AW-vcW_mM34z8mKCX6ih6EiJAKs',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_44b9055e0254400bb0f58ff48a6f656d.get_object(Bucket='segmentationandclusteringofneighb-donotdelete-pr-hw2gcg2u7zasng',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
coord= pd.read_csv(body)
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [124]:
coord=coord.rename(index=str, columns={"Postal Code": "Postal code"})

In [126]:
coord.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [128]:
toro=pd.merge(tor,coord, on="Postal code")

In [130]:
toro.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494